@page "/demo"

<PageTitle>Index</PageTitle>

<div class="views">
  <CanvasWebView @ref="ViewCandles"></CanvasWebView>
  <CanvasWebView @ref="ViewBars"></CanvasWebView>
  <CanvasWebView @ref="ViewLines"></CanvasWebView>
  <CanvasWebView @ref="ViewAreas"></CanvasWebView>
  <CanvasWebView @ref="ViewDeltas"></CanvasWebView>
</div>
