@page "/map"

@using Canvas.Core
@using Canvas.Core.Composers
@using Canvas.Core.Engines
@using Canvas.Core.Enums;
@using Canvas.Core.Models
@using Canvas.Core.Shapes
@using Canvas.Core.Services
@using ScriptContainer
@using SkiaSharp;

<div class="demo">
  <CanvasView @ref="View"></CanvasView>
</div>

<style type="text/css">
  .demo {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
</style>

@code
{
  public CanvasView View { get; set; }

  protected override async Task OnAfterRenderAsync(bool setup)
  {
    if (setup)
    {
      var generator = new Random();
      var indexLabels = new[] { "USD", "EUR", "CHF", "AUD", "GBP", "CAD", "DKK", "NZD", "SGD", "UAH", "JPY", "CNY", "INR", "SEK", "AUD" };
      var valueLabels = new[] { "USD", "EUR", "CHF", "AUD", "GBP", "USD", "EUR", "CHF", "AUD" };
      var max = valueLabels.Length;
      var min = 0;
      var colorService = new ColorService { Min = min, Max = max, Mode = ShadeEnum.Intensity };
      var points = Enumerable.Range(0, indexLabels.Length).Select(i => new ColorMapShape
      {
        Points = Enumerable
          .Range(min, max)
          .Select(o => new ComponentModel { Size = o, Color = colorService.GetColor(o) })
          .OrderBy(o => generator.Next())
          .ToList()

      } as IShape).ToList();

      var composer = new MapComposer
      {
        Name = "Correlation",
        Items = points,
        View = View,
        IndexCount = indexLabels.Length,
        ValueCount = 6,
        ShowIndex = i => indexLabels.ElementAtOrDefault((int)i),
        ShowValue = i => valueLabels.ElementAtOrDefault((int)i)
      };

      await composer.Create<CanvasEngine>();
      await composer.Update();
    }

    await base.OnAfterRenderAsync(setup);
  }
}
