@page "/map"

@using Canvas.Core
@using Canvas.Core.Composers
@using Canvas.Core.Engines
@using Canvas.Core.Enums;
@using Canvas.Core.Models
@using Canvas.Core.Shapes
@using Canvas.Core.Services
@using ScriptContainer
@using SkiaSharp;

<div class="demo">
  <CanvasView @ref="View"></CanvasView>
</div>

<style type="text/css">
  .demo {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
</style>

@code
{
  public CanvasView View { get; set; }

  protected override async Task OnAfterRenderAsync(bool setup)
  {
    if (setup)
    {
      var generator = new Random();
      var labels = new[] { "USD", "EUR", "CHF", "AUD", "GBP", "CAD", "DKK", "NZD", "SGD", "UAH", "JPY", "CNY", "INR", "SEK", "AUD" };
      var max = labels.Length;
      var min = -labels.Length / 2;
      var colorService = new ColorService { Min = min, Max = max, Mode = ShadeEnum.Mirror };
      var range = Enumerable.Range(min, max);
      var points = Enumerable.Range(0, labels.Length).Select(i => new ColorMapShape
      {
        Points = range
          .Select(o => new ComponentModel { Size = o, Color = colorService.GetColor(o) } as ComponentModel?)
          .OrderBy(o => generator.Next())
          .ToList()

      } as IShape).ToList();

      var composer = new MapComposer
      {
        Name = "Correlation",
        Range = points.Max(shape => (shape as ColorMapShape).Points.Count),
        Items = points,
        View = View,
        IndexCount = labels.Length,
        ValueCount = 5,
        ShowIndex = i => labels.ElementAtOrDefault((int)i),
        ShowValue = i => labels.ElementAtOrDefault((int)i)
      };

      await View.Create<CanvasEngine>(() => composer);
      await View.Update();
    }

    await base.OnAfterRenderAsync(setup);
  }
}
