@page "/"
@page "/heatmap"

@using Canvas.Core
@using Canvas.Core.EngineSpace
@using Canvas.Core.ModelSpace
@using ScriptContainer

<div class="demo">
  <CanvasWebView @ref="ViewControl"></CanvasWebView>
</div>

<style type="text/css">
  .demo {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
</style>

@code
{
  public CanvasWebView ViewControl { get; set; }

  protected override async Task OnAfterRenderAsync(bool setup)
  {
    if (setup)
    {
      var generator = new Random();

      var points = Enumerable.Range(0, 10).Select(i => new HeatmapGroupModel
      {
        Index = i,
        Value = new Model { ["Points"] = Enumerable.Range(1, 100).Select(o => (double)o).OrderBy(o => generator.Next()).ToList() }

      } as IItemModel).ToList();

      await ViewControl.Create(dimensions => ViewControl.Composer = new Composer
      {
        Name = "Demo",
        Items = points,
        Engine = new CanvasEngine(dimensions.X, dimensions.Y)
      });
    }

    await base.OnAfterRenderAsync(setup);
  }
}
