@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
  height: 100%;
  overflow: auto;
  display: flex;
  flex: 1;
}

.mud-layout, .mud-main-content, .mud-container, .views {
  flex: 1;
  height: auto;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.views {
  width: 100%;
}
