.map {
  display: grid;
  grid-template-rows: 2rem 1fr 2rem;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-areas:
    ". T ."
    "L C R"
    ". B .";
}

.T { grid-area: T; }
.B { grid-area: B; }
.L { grid-area: L; }
.R { grid-area: R; }
.C { grid-area: C; }
.combo-container { position: relative; display: flex; flex-grow: 1; }
.combo-content { position: absolute; width: 100%; height: 100%; }
.board { z-index: 15; pointer-events: none; }
.screen { z-index: 10; }
.grid { z-index: 5; }
