@inherits BaseView

<div class="combo-views">

  @if (Item?.Groups is not null)
  {
    @foreach (var group in Item.Groups)
    {
      <CanvasView @ref="@Views[group.Key]" Name="@group.Key" OnReady="OnCanvasRender"></CanvasView>
    }
  }

</div>
