.canvas-container, .canvas-scale, .canvas-view, .canvas-view img, .canvas-view iframe, .canvas-cross {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex: 1;
  border: 0;
  position: relative;
  z-index: 5;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 10px arial, helvetica, sans-serif;
}

.canvas-container {
  display: grid;
  grid-template-rows: 2rem 1fr 2rem;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-areas:
    ". T ."
    "L V R"
    ". B .";
}

.canvas-scale {
  overflow: visible;
  border: 1px solid transparent;
  flex: 0;
}

.canvas-label {
  position: absolute;
  pointer-events: none;
  font: 10px arial, helvetica, sans-serif;
}

.canvas-label b {
  display: block;
  font-weight: normal;
  position: relative;
}

.canvas-marker b {
  z-index: 20;
  padding: 5px 10px;
  background: #999;
  color: #FFF;
}

.canvas-view {
  grid-area: V;
  position: absolute;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 1px 100%;
  border: 1px solid #DDD;
}

.canvas-view iframe, .canvas-view img, .canvas-view canvas {
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

.canvas-cross {
  z-index: 15;
  position: absolute;
  background-repeat: no-repeat;
  background-position: -1px -1px, -1px -1px;
  background-image: linear-gradient(to right, #999 1px, transparent 1px), linear-gradient(to bottom, #999 1px, transparent 1px);
}

.canvas-scale-n {
  grid-area: T;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 1px 5px;
  cursor: ew-resize;
}

.canvas-scale-n b {
  left: -50%;
}

.canvas-scale-s {
  grid-area: B;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 1px 5px;
  cursor: ew-resize;
}

.canvas-scale-s b {
  left: -50%;
}

.canvas-scale-w {
  grid-area: L;
  background-repeat: no-repeat;
  background-size: 5px 1px;
  cursor: ns-resize;
}

.canvas-scale-w .canvas-label {
  right: 0;
  height: 2rem;
  display: flex;
  align-items: center;
}

.canvas-scale-w b {
  width: 100%;
  text-align: right;
  margin-right: 10px;
  top: -50%;
}

.canvas-scale-w .canvas-marker b {
  margin: 0
}

.canvas-scale-e {
  grid-area: R;
  background-repeat: no-repeat;
  background-size: 5px 1px;
  cursor: ns-resize;
}

.canvas-scale-e .canvas-label {
  height: 2rem;
  display: flex;
  align-items: center;
}

.canvas-scale-e b {
  width: 100%;
  text-align: left;
  margin-left: 10px;
  top: -50%;
}

.canvas-scale-e .canvas-marker b {
  margin: 0
}

.canvas-board {
  background: #FFF;
  position: absolute;
  padding: 0 5px;
  border: 1px solid #ccc;
  z-index: 25;
  margin: 5px;
}

.canvas-board * {
  color: #000;
}

.canvas-board-item {
  font: 10px arial, helvetica, sans-serif;
  margin: 5px 0;
}

.canvas-board-item b {
  font-weight: 600;
}
