.canvas-view, .canvas-view img, .canvas-view iframe, .canvas-view canvas {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-height: 1px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex: 1;
  border: 0;
  position: relative;
  z-index: 5;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 10px arial, helvetica, sans-serif;
}

.canvas-view iframe, .canvas-view img, .canvas-view canvas {
  pointer-events: none;
}

.canvas-scale-x {
  cursor: ew-resize;
}

.canvas-scale-y {
  cursor: ns-resize;
}
